<link rel="stylesheet" type="text/css" href="lifehackshome.html">


h3.italic {
	font-style: italic;
}

body{
	background-image: url("whitebg.png");
}

li {
	font-size: 120%;
	font-family: 'Quicksand', sans-serif;
}
h1, h2, h3{
	font-family: 'Aref Ruqaa', serif;
	text-align:center;
}

button{
	border: none;
}

#b1{
	background-color: red;
}

#b2{
	background-color: orange;
}

#b3{
	background-color: yellow;
}

#b4{
	background-color: green;
}

#b5{      
	background-color: blue;
}

#b6{
	background-color: purple;
}

#b7{

	background-color: pink;
}

#b8{
	background-color: yellow;
}

button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

button:hover {background-color: #3e8e41}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="lifehackshome.html">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron">
  <h1>Bootstrap Tutorial</h1>
  <p>Bootstrap</div>

<div class="container">
  <p>This is some text.</p>
  <p>This is another text.</p>
</div>

</body>
</html>

