<link rel="stylesheet" type="text/css" href="lifehackshome.html">


h3.italic {
	font-style: italic;
}

body{
	background-image: url("whitebg.png");
}

li {
	font-size: 120%;
	font-family: 'Quicksand', sans-serif;
}
h1, h2, h3{
	font-family: 'Aref Ruqaa', serif;
	text-align:center;
}

button{
	border: none;
}

#b1{
	background-color: red;
}

#b2{
	background-color: orange;
}

#b3{
	background-color: yellow;
}

#b4{
	background-color: green;
}

#b5{      
	background-color: blue;
}

#b6{
	background-color: purple;
}

#b7{

	background-color: pink;
}

#b8{
	background-color: yellow;
}

button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

button:hover {background-color: #3e8e41}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#b1 {
  display: block;
  border-radius: 10px;
  background-color: pink;
  border: 5px solid black;
  color: White;
  text-align: center;
  font-size: 35px;
  padding: 30px;
  width: 250px;
  transition: all 0.5s;
  cursor: wait;
  margin: 10px;
}

#b1 span {
  cursor: crosshair;
  display: inline-block;
  position: relative;
  transition: 1s;
}

#b1 span:after {
  content: ':)';
  position: absolute;
  opacity: .1;
  top: 0;
  right: -25px;
  transition: 1s;
}

#b1:hover span {
  padding-right: 25px;
}

#b1:hover span:after {
  opacity: .5;
  right: 5;
}