h3.italic {
	font-style: italic;
}

body{
	background-image: url("whitebg.png");
}

h1, h2, h3{
	font-family: 'Aref Ruqaa', serif;
	text-align:center;
}

button{
	border: none;
}

#b1{
	background-color: #FF0000;
}

#b2{
	background-color: #FF0000;
}

#b3{
	background-color: #FF0000;
}

#b4{
	background-color: #FF0000;
}

#b5{
	background-color: #FF0000;
}

#b6{
	background-color: #FF0000;
}

#b7{
	background-color: #FF0000;
}