
/*homepage quote*/
h3.italic {
	font-style: italic;
}

/*body text font and background color*/
body{
	background:"white";
	font-family: 'Quicksand', cursive;
	
}

/*life hacks lists font size*/
li {
	font-size: 120%;
}
.jumbotron{
font-size: 400px;
}

/*heading format*/
h1, h2, h3{
	font-family: 'Aref Ruqaa' ;
	text-align:center;
	background-color: #87CEFA;
}

/*heading and text sizes*/
h1 {
  font-size: 100px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 25px;
}

p {
  font-size: 26px;
}

/*button press animation*/
button{
	border: none;
	display: inline-block;
	padding: 15px 25px;
	font-size: 21px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
}

/*button colors*/
#b1{
	background-color: #FF0000;
}

#b1:hover{
	background-color: #DF0000;
}

#b2{
	background-color: #FFA500;
}

#b2:hover{
	background-color: #DF9000;
}

#b3{
	background-color: #FFE100;
}

#b3:hover{
	background-color: #DFC500;
}

#b4{
	background-color: #008000;
}

#b4:hover{
	background-color: #007000;
}

#b5{      
	background-color: #0000FF;
}

#b5:hover{
	background-color: #0000DF;
}

#b6{
	background-color: #800080;
}

#b6:hover{
	background-color: #700070;
}

#b7{

	background-color: #E6E6FA;
}

#b7:hover{
	background-color: #C9C9DB;
}

#b8{
	background-color: #CD5C5C;
	font-size:300%;
}

#b8:hover{
	background-color: #B35151;
}

#b9{
background-color: #FFF0F5;
}

/*button hover animation*/
button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


/*this is for the home menu pictures */
/*div for the images*/
div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

/*border darken when hover*/
div.img:hover {
    border: 1px solid #777;
}

/*image div size*/
div.img img {
    width: 100%;
    height: auto;
}

/*description div size*/
div.desc {
    padding: 15px;
    text-align: left;
}

/*jumbotron color*/
#j1{
background-color: #87CEFA	
}

/*carousel css*/
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	width: 70%;
	margin: auto;
}

/*carousel arrows*/
.carousel-control.right, .carousel-control.left {
 background-image: none;
}

.glyphicon-chevron-left, .glyphicon-chevron-right{
color: #000000;
}

/*bottom jumbotron*/
#j2{
	background-color: pink;
}
<<<<<<< HEAD


/*.gap-left {
  margin-right: 0px; 
}

.gap-right {
  margin-left: 0px; 
}*/
=======
/*what is this?*/
.gap-left {
  margin-right: 10px; 
}

.gap-right {
  margin-left: 10px; 
}

/*social media buttons*/
.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}
.hovereffect.overlay {
    width: 100%;
    position: absolute;
    overflow: hidden;
    left: 0;
	top: auto;
	bottom: 0;
	padding: 1em;
	height: 4.75em;
	background: #79FAC4;
	color: #3c4a50;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

.hovereffect img {
    display: block;
    position: relative;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

.hovereffect:hover img {
-webkit-transform: translate3d(0,-10%,0);
	transform: translate3d(0,-10%,0);
}

.hovereffect h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
	float: left;
	margin: 0px;
	display: inline-block;
}

.hovereffect a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    text-transform: uppercase;
	color: #fff;
	border: 1px solid #fff;
	margin: 50px 0 0 0;
	background-color: transparent;
}
.hovereffect a.info:hover {
    box-shadow: 0 0 5px #fff;
}


.hovereffect p.icon-links a {
	float: right;
	color: #3c4a50;
	font-size: 1.4em;
}

.hovereffect:hover p.icon-links a:hover,
.hovereffect:hover p.icon-links a:focus {
	color: #252d31;
}

.hovereffect h2,
.hovereffect p.icon-links a {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,200%,0);
	transform: translate3d(0,200%,0);
}

.hovereffect p.icon-links a span:before {
	display: inline-block;
	padding: 8px 10px;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.hovereffect:hover .overlay,
.hovereffect:hover h2,
.hovereffect:hover p.icon-links a {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.hovereffect:hover h2 {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

.hovereffect:hover p.icon-links a:nth-child(3) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.hovereffect:hover p.icon-links a:nth-child(2) {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

.hovereffect:hover p.icon-links a:first-child {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}
>>>>>>> origin/master
