
/*homepage quote*/
h3.italic {
	font-style: italic;
}

/*body text font and background color*/
body{
	background:"white";
	font-family: 'Quicksand', cursive;
	
}

/*life hacks lists font size*/
li {
	font-size: 120%;
}
.jumbotron{
font-size: 400px;
}

/*heading format*/
h1, h2, h3{
	font-family: 'Aref Ruqaa' ;
	text-align:center;
}

/*heading and text sizes*/
h1 {
  font-size: 100px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 25px;
}

p {
  font-size: 26px;
}

/*button press animation*/
button{
	border: none;
	display: inline-block;
	padding: 15px 25px;
	font-size: 21px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
}

/*button colors*/
#b1{
	background-color: #FF0000;
}

#b1:hover{
	background-color: #DF0000;
}

#b2{
	background-color: #FFA500;
}

#b2:hover{
	background-color: #DF9000;
}

#b3{
	background-color: #FFE100;
}

#b3:hover{
	background-color: #DFC500;
}

#b4{
	background-color: #008000;
}

#b4:hover{
	background-color: #007000;
}

#b5{      
	background-color: #0000FF;
}

#b5:hover{
	background-color: #0000DF;
}

#b6{
	background-color: #800080;
}

#b6:hover{
	background-color: #700070;
}

#b7{

	background-color: #625AC6;
}

#b7:hover{
	background-color: #564FAD;
}

#b8{
	background-color: #CD5C5C;
}

#b8:hover{
	background-color: #B35151;
}

#b9{
background-color: #31F056;
}

#b9:hover{
background-color: #2BD24B;
}

/*button hover animation*/
button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


/*this is for the home menu pictures */
/*div for the images*/
div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

/*border darken when hover*/
div.img:hover {
    border: 1px solid #777;
}

/*image div size*/
div.img img {
    width: 100%;
    height: auto;
}

/*description div size*/
div.desc {
    padding: 15px;
    text-align: left;
}

/*jumbotron color*/
#j1{
background-color: #87CEFA	
}

/*carousel css*/
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	width: 70%;
	margin: auto;
}

/*carousel arrows*/
.carousel-control.right, .carousel-control.left {
 background-image: none;
}

.glyphicon-chevron-left, .glyphicon-chevron-right{
color: #000000;
}

/*bottom jumbotron*/
#j2{
	background-color: #F5F5F5;
}



/*.gap-left {
  margin-right: 0px; 
}

.gap-right {
  margin-left: 0px; 
}*/

/*what is this?*/
.gap-left {
  margin-right: 10px; 
}

.gap-right {
  margin-left: 10px; 
}

.btnz {
    display: block;
    float: left;
    padding: 10px 15px;
    border:none;
    background-color: #ececec;
    text-decoration: none;
    font-size: 18px;
    color: #FFF;
}
.btnz:hover {
    color: #efefef;
}


.facebook {
    background-color: #3b5998;
}
.gplus {
    background-color: #dd4b39;
}
.twitter {
    background-color: #55acee;
}
.stumbleupon {
    background-color: #eb4924;
}
.pinterest {
    background-color: #cc2127;
}
.linkedin {
    background-color: #0077b5;
}
.buffer {
    background-color: #323b43;
}
