
/*homepage quote*/
h3.italic {
	font-style: italic;
}

/*body text font and background color*/
body{
	background:"white";
	font-family: 'Quicksand', cursive;
	
}

/*life hacks lists font size*/
li {
	font-size: 120%;
}
.jumbotron{
font-size: 400px;
}

/*heading format*/
h1, h2, h3{
	font-family: 'Aref Ruqaa' ;
	text-align:center;
	background-color: #87CEFA;
}

/*heading and text sizes*/
h1 {
  font-size: 100px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 25px;
}

p {
  font-size: 20px;
}

/*button press animation*/
button{
	border: none;
	display: inline-block;
	padding: 15px 25px;
	font-size: 21px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
}

/*button colors*/
#b1{
	background-color: red;
}

#b2{
	background-color: orange;
}

#b3{
	background-color: #FFE100;
}

#b4{
	background-color: green;
}

#b5{      
	background-color: blue;
}

#b6{
	background-color: purple;
}

#b7{

	background-color: lavender;
}

#b8{
	background-color: indianred;
	font-size:300%;
}

/*button hover animation*/
button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


/*this is for the home menu pictures */
/*div for the images*/
div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

/*border darken when hover*/
div.img:hover {
    border: 1px solid #777;
}

/*image div size*/
div.img img {
    width: 100%;
    height: auto;
}

/*description div size*/
div.desc {
    padding: 15px;
    text-align: left;
}

/*jumbotron color*/
.jumbotron{
background-color: #87CEFA	
}

/*carousel css*/
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	width: 70%;
	margin: auto;
}

/*change the side of carousel*/
.carousel-control.right, .carousel-control.left {
 background-image: none;
}

.glyphicon-chevron-left, .glyphicon-chevron-right{
color: black;
}






